.logo {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 10px;
    text-decoration: none;
    user-select: none;
}

.logo_img {
    width: 44px;
    height: 44px;
}

.logo_text {
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 2px;
}

.eco {
    color: #4a8c1a;
}

.center {
    color: #1565a8;
}
